.heading{
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    text-shadow: 0 0 4px rgb(196, 167, 209), 0 0 4px black;
    background-color: darkorange;
    /*text-align: center;*/
}

.subheading{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600px;
    /*text-align: center;*/
}

.list .item{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    margin-bottom: 10px; /* Spaziatura uniforme tra gli elementi */
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 0 15px;
    background: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Assicura che inglobi elementi flottanti */
    border: 1px solid #ccc; /* Per evidenziare la cornice */
}

.image {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    width: 40%;
    border-radius: 8px;
}
p{
    /*text-align: center;*/
}
.clearfix {
    clear: both;
}

